

<table>
  <tr>
    <th>ホーム</th>
  </tr>

<% @clotter.each do |clotter| %>
  <tr>
    <td><%= clotter.content %></td>
    <td><%= link_to '編集', edit_clotter_path(clotter.id) %></td>
    <td><%= link_to '削除', clotter_path(clotter.id), method: :delete ,data: { confirm: 'ツイートを削除しますか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'ツイート', new_clotter_path , id: "tweet-btn" %>
